---
swagger: "2.0"
info:
  description: "This document describes Uptrends API version 4. This Swagger environment\
    \ also lets you execute API methods directly.\n\nPlease note that this is not\
    \ a sandbox environment: these API methods operate directly on your actual Uptrends\
    \ account.\n\nFor more information, please visit https://www.uptrends.com/api."
  version: "1.0.0"
  title: "Uptrends API v4"
host: "api.uptrends.com"
basePath: "/v4"
tags:
- name: "Account"
  description: "Getting account data"
- name: "Checkpoint"
  description: "Retrieving checkpoints and checkpoint servers"
- name: "Dashboard"
  description: "Modifying dashboards"
- name: "PublicStatusPage"
  description: "Modifying public status pages"
- name: "ScheduledReport"
  description: "Modifying scheduled reports"
- name: "SLA"
  description: "Getting SLA data"
- name: "Statistics"
  description: "Retrieving statistics data"
- name: "Alert"
  description: "Getting alert data"
- name: "Integration"
  description: "Retrieving integrations"
- name: "Status"
  description: "Retrieving status"
- name: "AlertDefinition"
  description: "Modifying alert definitions"
- name: "MonitorGroup"
  description: "Working with monitor groups"
- name: "Operator"
  description: "Working with operators"
- name: "Miscellaneous"
  description: "Miscellaneous operations"
- name: "OperatorGroup"
  description: "Working with operator groups"
- name: "MonitorCheck"
  description: "Getting monitor check data"
- name: "Monitor"
  description: "Modifying monitors"
- name: "Register"
  description: "Creating a new API account"
- name: "Vault"
  description: "Vault operations"
schemes:
- "https"
consumes:
- "application/json"
- "application/xml"
produces:
- "application/json"
- "application/xml"
paths:
  /Account:
    get:
      tags:
      - "Account"
      summary: "Returns the account statistics."
      operationId: "Account_GetAccountStatistics"
      parameters: []
      responses:
        "200":
          description: "Request completed successfully."
          schema:
            $ref: "#/definitions/AccountStatistics"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /CheckpointRegion:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns all the checkpoint regions. "
      operationId: "CheckpointRegion_GetAllCheckpointRegions"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CheckpointRegion"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /CheckpointRegion/{checkpointRegionId}:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the specified checkpoint region. "
      operationId: "CheckpointRegion_GetSpecifiedCheckpointRegion"
      parameters:
      - name: "checkpointRegionId"
        in: "path"
        description: "The id for the specified checkpoint region."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "CheckpointRegionId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/CheckpointRegion"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The checkpoint region could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /CheckpointRegion/{checkpointRegionId}/Checkpoint:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the checkpoints for the specified checkpoint region. "
      operationId: "CheckpointRegion_GetCheckpointRegionCheckpoints"
      parameters:
      - name: "checkpointRegionId"
        in: "path"
        description: "The id for the specified checkpoint region."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "CheckpointRegionId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Checkpoint"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The checkpoint region could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Dashboard:
    get:
      tags:
      - "Dashboard"
      summary: "Returns data for all dashboards."
      operationId: "Dashboard_GetAllDashboards"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dashboard"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Dashboard/{dashboardGuid}:
    get:
      tags:
      - "Dashboard"
      summary: "Returns data for the specified dashboard."
      operationId: "Dashboard_GetOneDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Dashboard"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified dashboard could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "Dashboard"
      summary: "Update the specified dashboard."
      operationId: "Dashboard_UpdateDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      - in: "body"
        name: "dashboard"
        description: "The details for the dashboard."
        required: true
        schema:
          $ref: "#/definitions/Dashboard"
        x-nullable: true
        x-exportParamName: "Dashboard"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "Dashboard"
      summary: "Delete the specified dashboard."
      operationId: "Dashboard_DeleteDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified dashboard could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "Dashboard"
      summary: "Partially update the specified dashboard."
      operationId: "Dashboard_PartiallyUpdateDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      - in: "body"
        name: "dashboard"
        description: "The details for the dashboard."
        required: true
        schema:
          $ref: "#/definitions/Dashboard"
        x-nullable: true
        x-exportParamName: "Dashboard"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Dashboard/{dashboardGuid}/Clone:
    post:
      tags:
      - "Dashboard"
      summary: "Clone the specified dashboard."
      operationId: "Dashboard_CloneDashboard"
      parameters:
      - name: "dashboardGuid"
        in: "path"
        description: "The guid of the specified dashboard."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "DashboardGuid"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Dashboard"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified dashboard could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /PublicStatusPage:
    get:
      tags:
      - "PublicStatusPage"
      summary: "Returns the definition of all public status pages available in the\
        \ account."
      operationId: "PublicStatusPage_GetPublicStatusPages"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PublicStatusPage"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "PublicStatusPage"
      summary: "Creates a new public status page."
      operationId: "PublicStatusPage_PostPublicStatusPage"
      parameters:
      - in: "body"
        name: "publicStatusPage"
        description: "The complete definition for the public status page that should\
          \ be updated."
        required: true
        schema:
          $ref: "#/definitions/PublicStatusPage"
        x-nullable: true
        x-exportParamName: "PublicStatusPage"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/PublicStatusPage"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /PublicStatusPage/{publicStatusPageGuid}:
    get:
      tags:
      - "PublicStatusPage"
      summary: "Returns the definition of the specified public status page."
      operationId: "PublicStatusPage_GetPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the requested public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/PublicStatusPage"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "PublicStatusPage"
      summary: "Updates the definition of the specified public status page."
      description: "This methods only accepts a complete public status page definition.\
        \ We recommend retrieving the existing definition first (using the GET method).\
        \ You can then process the changes you want to make and send back the updated\
        \ definition using this PUT method."
      operationId: "PublicStatusPage_PutPublicStatusPage"
      parameters:
      - in: "body"
        name: "publicStatusPage"
        description: "The complete definition for the public status page that should\
          \ be updated."
        required: true
        schema:
          $ref: "#/definitions/PublicStatusPage"
        x-nullable: true
        x-exportParamName: "PublicStatusPage"
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "PublicStatusPage"
      summary: "Deletes the definition of the specified public status page."
      operationId: "PublicStatusPage_DeletePublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "PublicStatusPage"
      summary: "Partially updates the definition of the specified public status page."
      description: "This methods accepts parts of a public status page definition.\
        \ We recommend retrieving the existing definition first (using the GET method).\
        \ You can then process the changes you want to make and send back these changes\
        \ only using this PATCH method."
      operationId: "PublicStatusPage_PatchPublicStatusPage"
      parameters:
      - in: "body"
        name: "publicStatusPage"
        description: "The partial definition for the public status page that should\
          \ be updated."
        required: true
        schema:
          $ref: "#/definitions/PublicStatusPage"
        x-nullable: true
        x-exportParamName: "PublicStatusPage"
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /PublicStatusPage/{publicStatusPageGuid}/Authorization:
    get:
      tags:
      - "PublicStatusPage"
      summary: "Returns all authorizations for the specified public status page."
      operationId: "PublicStatusPage_GetAuthorizationsForPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      responses:
        "200":
          description: "The request was successful. No content is returned."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PSPAuthorization"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "PublicStatusPage"
      summary: "Creates a new authorization for the specified public status page."
      description: "The AuthorizationId attribute should be omitted in the request\
        \ body. The newly created authorization will be returned in the response.\
        \ An authorization should be granted to either an individual operator, or\
        \ an operator group. Therefore, either specify the OperatorGuid attribute\
        \ or the OperatorGroupGuid attribute."
      operationId: "PublicStatusPage_AddAuthorizationToPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      - in: "body"
        name: "authorization"
        description: "The complete definition of the authorization that should be\
          \ created."
        required: true
        schema:
          $ref: "#/definitions/PSPAuthorization"
        x-nullable: true
        x-exportParamName: "Authorization"
      responses:
        "200":
          description: "The request was successful."
          schema:
            $ref: "#/definitions/PSPAuthorization"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist.\nor\nThe\
            \ specified operator does not exist.\nor\nThe specified operator group\
            \ does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified public status page does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified operator does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified operator group does not exist."
            schema:
              $ref: "#/definitions/MessageList"
      security:
      - basicauth:
        - ""
  /PublicStatusPage/{publicStatusPageGuid}/Authorization/{authorizationGuid}:
    delete:
      tags:
      - "PublicStatusPage"
      summary: "Removes an authorization from a public status page."
      operationId: "PublicStatusPage_RemoveAuthorizationFromPublicStatusPage"
      parameters:
      - name: "publicStatusPageGuid"
        in: "path"
        description: "The Guid of the public status page."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "PublicStatusPageGuid"
      - name: "authorizationGuid"
        in: "path"
        description: "The Guid of the authorization."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AuthorizationGuid"
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified public status page does not exist.\nor\nThe\
            \ specified authorization does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified public status page does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified authorization does not exist."
            schema:
              $ref: "#/definitions/MessageList"
      security:
      - basicauth:
        - ""
  /ScheduledReport:
    get:
      tags:
      - "ScheduledReport"
      summary: "Returns data for all scheduled reports."
      operationId: "ScheduledReport_GetAllScheduledReports"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "ScheduledReport"
      summary: "Creates a new scheduled report."
      operationId: "ScheduledReport_CreateScheduledReport"
      parameters:
      - in: "body"
        name: "scheduledReport"
        description: "The details for the scheduled report."
        required: true
        schema:
          $ref: "#/definitions/ScheduledReport"
        x-nullable: true
        x-exportParamName: "ScheduledReport"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /ScheduledReport/{scheduledReportGuid}:
    get:
      tags:
      - "ScheduledReport"
      summary: "Returns data for the specified scheduled report."
      operationId: "ScheduledReport_GetSpecifiedScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "ScheduledReport"
      summary: "Update the specified scheduled report."
      operationId: "ScheduledReport_UpdateScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      - in: "body"
        name: "scheduledReport"
        description: "The details for the scheduled report."
        required: true
        schema:
          $ref: "#/definitions/ScheduledReport"
        x-nullable: true
        x-exportParamName: "ScheduledReport"
      responses:
        "204":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "ScheduledReport"
      summary: "Delete the specified scheduled report."
      operationId: "ScheduledReport_DeleteSpecifiedScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "ScheduledReport"
      summary: "Partially update the specified scheduled report."
      operationId: "ScheduledReport_PartiallyUpdateScheduledReport"
      parameters:
      - name: "scheduledReportGuid"
        in: "path"
        description: "The guid of the specified scheduled report."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "ScheduledReportGuid"
      - in: "body"
        name: "scheduledReport"
        description: "The details for the scheduled report."
        required: true
        schema:
          $ref: "#/definitions/ScheduledReport"
        x-nullable: true
        x-exportParamName: "ScheduledReport"
      responses:
        "204":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ScheduledReport"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Sla:
    get:
      tags:
      - "SLA"
      summary: "Gets a list of all SLA definitions."
      operationId: "Sla_GetSlas"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Sla"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "SLA"
      summary: "Creates a new SLA."
      operationId: "Sla_CreateSla"
      parameters:
      - in: "body"
        name: "sla"
        description: "The complete SLA definition that should be created."
        required: true
        schema:
          $ref: "#/definitions/Sla"
        x-nullable: true
        x-exportParamName: "Sla"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Sla"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Sla/{slaGuid}:
    get:
      tags:
      - "SLA"
      summary: "Gets the specified SLA definition."
      operationId: "Sla_GetSla"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Sla"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified sla does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "SLA"
      summary: "Updates the definition of the specified SLA."
      description: "This methods only accepts a complete SLA definition. We recommend\
        \ retrieving the existing definition first (using the GET method). You can\
        \ then process the changes you want to make and send back the updated definition\
        \ using this PUT method."
      operationId: "Sla_PutSla"
      parameters:
      - in: "body"
        name: "sla"
        description: "The complete definition for the SLA that should be updated."
        required: true
        schema:
          $ref: "#/definitions/Sla"
        x-nullable: true
        x-exportParamName: "Sla"
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "SLA"
      summary: "Deletes the specified SLA."
      operationId: "Sla_DeleteSla"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition that should be deleted."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "SLA"
      summary: "Partially updates the definition of the specified SLA."
      description: "This methods accepts parts of a SLA definition. We recommend retrieving\
        \ the existing definition first (using the GET method). You can then process\
        \ the changes you want to make and send back these changes only using this\
        \ PATCH method."
      operationId: "Sla_PatchSla"
      parameters:
      - in: "body"
        name: "sla"
        description: "The partial definition for the SLA that should be updated."
        required: true
        schema:
          $ref: "#/definitions/Sla"
        x-nullable: true
        x-exportParamName: "Sla"
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      responses:
        "204":
          description: "The request was successful. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Sla/{slaGuid}/ExclusionPeriod:
    get:
      tags:
      - "SLA"
      summary: "Gets a list of all exclusion periods for the specified SLA."
      operationId: "Sla_GetExclusionPeriods"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ExclusionPeriod"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "SLA"
      summary: "Creates a new exclusion period for the specified SLA."
      operationId: "Sla_PostExclusionPeriod"
      parameters:
      - in: "body"
        name: "exclusionPeriod"
        description: "The complete definition of the exclusion period."
        required: true
        schema:
          $ref: "#/definitions/ExclusionPeriod"
        x-nullable: true
        x-exportParamName: "ExclusionPeriod"
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ExclusionPeriod"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Sla/{slaGuid}/ExclusionPeriod/{exclusionPeriodId}:
    get:
      tags:
      - "SLA"
      summary: "Gets the specified exclusion period for the specified SLA."
      operationId: "Sla_GetExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/ExclusionPeriod"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "SLA"
      summary: "Updates the specified exclusion period for the specified SLA."
      operationId: "Sla_PutExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      - in: "body"
        name: "exclusionPeriod"
        description: "The complete definition of the exclusion period."
        required: true
        schema:
          $ref: "#/definitions/ExclusionPeriod"
        x-nullable: true
        x-exportParamName: "ExclusionPeriod"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "SLA"
      summary: "Deletes the specified exclusion period for the specified SLA."
      operationId: "Sla_DeleteExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the sla definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "SLA"
      summary: "Partially updates the specified exclusion period for the specified\
        \ SLA."
      operationId: "Sla_PatchExclusionPeriod"
      parameters:
      - name: "slaGuid"
        in: "path"
        description: "The Guid of the SLA definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "SlaGuid"
      - name: "exclusionPeriodId"
        in: "path"
        description: "The id of the exclusion period."
        required: true
        type: "integer"
        format: "int32"
        x-nullable: false
        x-exportParamName: "ExclusionPeriodId"
      - in: "body"
        name: "exclusionPeriod"
        description: "The complete definition of the exclusion period."
        required: true
        schema:
          $ref: "#/definitions/ExclusionPeriod"
        x-nullable: true
        x-exportParamName: "ExclusionPeriod"
      responses:
        "204":
          description: "The request completed successfully."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified SLA does not exist.\nor\nThe specified exclusion\
            \ period does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The specified SLA does not exist."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The specified exclusion period does not exist."
            schema:
              $ref: "#/definitions/MessageList"
      security:
      - basicauth:
        - ""
  /Statistics/Monitor/{monitorGuid}:
    get:
      tags:
      - "Statistics"
      summary: "Gets the monitor statistics."
      operationId: "Statistics_GetMonitorStatistics"
      parameters:
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      - name: "Filter"
        in: "query"
        description: "The filter for the requested response fields. E.g. \"Alerts,SlaTarget\"\
          ."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "Start"
        x-optionalDataType: "Time"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "End"
        x-optionalDataType: "Time"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousYear"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/StatisticsResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
        "404":
          description: "The monitor could not be found."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Statistics/MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "Statistics"
      summary: "Gets the monitor group statistics."
      operationId: "Statistics_GetMonitorGroupStatistics"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      - name: "Filter"
        in: "query"
        description: "The filter for the requested response fields. E.g. \"Alerts,SlaTarget\"\
          ."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "Start"
        x-optionalDataType: "Time"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "End"
        x-optionalDataType: "Time"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousYear"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/StatisticsResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
        "404":
          description: "The monitor group could not be found."
          schema:
            $ref: "#/definitions/MessageInfo"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Alert/Monitor/{monitorGuid}:
    get:
      tags:
      - "Alert"
      summary: "Returns alerts for a specific monitor."
      operationId: "Alert_GetMonitorAlerts"
      parameters:
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor to get alerts for."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      - name: "IncludeReminders"
        in: "query"
        description: "When true reminder alerts will be included in the results"
        required: false
        type: "boolean"
        default: false
        x-nullable: false
        x-exportParamName: "IncludeReminders"
        x-optionalDataType: "Bool"
      - name: "Cursor"
        in: "query"
        description: "A cursor value that should be used for traversing the dataset."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "Sorting"
        in: "query"
        description: "Sorting direction based on timestamp."
        required: false
        type: "string"
        default: "Descending"
        enum:
        - "Ascending"
        - "Descending"
        x-schema:
          $ref: "#/definitions/SortDirection"
        x-nullable: false
        x-exportParamName: "Sorting"
        x-optionalDataType: "String"
      - name: "Take"
        in: "query"
        description: "The number of records to return (Max value = 100)"
        required: false
        type: "integer"
        default: 100
        maximum: 100.0
        minimum: 0.0
        format: "int32"
        x-nullable: false
        x-exportParamName: "Take"
        x-optionalDataType: "Int32"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "Start"
        x-optionalDataType: "Time"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "End"
        x-optionalDataType: "Time"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousYear"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified Monitor for monitorGuid does not exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Alert/MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "Alert"
      summary: "Returns alerts for a specific monitor group."
      operationId: "Alert_GetMonitorGroupAlerts"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to get alerts for."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      - name: "IncludeReminders"
        in: "query"
        description: "When true reminder alerts will be included in the results"
        required: false
        type: "boolean"
        default: false
        x-nullable: false
        x-exportParamName: "IncludeReminders"
        x-optionalDataType: "Bool"
      - name: "Cursor"
        in: "query"
        description: "A cursor value that should be used for traversing the dataset."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      - name: "Sorting"
        in: "query"
        description: "Sorting direction based on timestamp."
        required: false
        type: "string"
        default: "Descending"
        enum:
        - "Ascending"
        - "Descending"
        x-schema:
          $ref: "#/definitions/SortDirection"
        x-nullable: false
        x-exportParamName: "Sorting"
        x-optionalDataType: "String"
      - name: "Take"
        in: "query"
        description: "The number of records to return (Max value = 100)"
        required: false
        type: "integer"
        default: 100
        maximum: 100.0
        minimum: 0.0
        format: "int32"
        x-nullable: false
        x-exportParamName: "Take"
        x-optionalDataType: "Int32"
      - name: "Start"
        in: "query"
        description: "The start of a custom period (can't be used together with the\
          \ PresetPeriod parameter)"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "Start"
        x-optionalDataType: "Time"
      - name: "End"
        in: "query"
        description: "The end of a custom period"
        required: false
        type: "string"
        format: "date-time"
        x-nullable: true
        x-exportParamName: "End"
        x-optionalDataType: "Time"
      - name: "PresetPeriod"
        in: "query"
        description: "The requested time period."
        required: false
        type: "string"
        default: "Last24Hours"
        enum:
        - "CurrentDay"
        - "CurrentWeek"
        - "CurrentMonth"
        - "CurrentYear"
        - "PreviousDay"
        - "PreviousWeek"
        - "PreviousMonth"
        - "PreviousYear"
        - "Last24Hours"
        - "Last48Hours"
        - "Last7Days"
        - "Last30Days"
        - "Last60Days"
        - "Last90Days"
        - "Last365Days"
        - "Last3Months"
        - "Last6Months"
        - "Last12Months"
        - "Last24Months"
        - "All"
        x-schema:
          $ref: "#/definitions/PresetPeriodType"
        x-nullable: true
        x-exportParamName: "PresetPeriod"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified Monitor Group for monitorGroupGuid does not\
            \ exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Integration:
    get:
      tags:
      - "Integration"
      summary: "Gets a list of all integrations."
      operationId: "Integration_GetAllIntegrations"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Integration"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Status/Monitor/{monitorGuid}:
    get:
      tags:
      - "Status"
      summary: "Gets all monitor status data."
      operationId: "Status_GetMonitorStatus"
      parameters:
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/MonitorStatusResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The monitor could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Status/MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "Status"
      summary: "Gets a list of all monitor group status data."
      operationId: "Status_GetMonitorGroupStatus"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/MonitorStatusListResponse"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The monitor group could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets a list of all alert definitions."
      operationId: "AlertDefinition_GetAllAlertDefinitions"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AlertDefinition"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "AlertDefinition"
      summary: "Creates a new alert definition."
      operationId: "AlertDefinition_CreateAlertDefinition"
      parameters:
      - in: "body"
        name: "alertDefinition"
        description: "The details of the alert definition to create."
        required: true
        schema:
          $ref: "#/definitions/AlertDefinition"
        x-nullable: true
        x-exportParamName: "AlertDefinition"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinition"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the specified alert definition."
      operationId: "AlertDefinition_GetSpecifiedAlertDefinitions"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinition"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "AlertDefinition"
      summary: "Updates the definition of the specified alert definition."
      description: "This methods only accepts a complete alert definition where all\
        \ fields are specified."
      operationId: "AlertDefinition_PutAlertDefinition"
      parameters:
      - in: "body"
        name: "alertDefinition"
        description: "The partial definition for the alert definition that should\
          \ be updated."
        required: true
        schema:
          $ref: "#/definitions/AlertDefinition"
        x-nullable: true
        x-exportParamName: "AlertDefinition"
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "AlertDefinition"
      summary: "Deletes an existing alert definition."
      operationId: "AlertDefinition_DeleteAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "AlertDefinition"
      summary: "Partially updates the definition of the specified alert definition."
      description: "This methods accepts parts of an alert definition. Fields that\
        \ do not require changes can be omitted."
      operationId: "AlertDefinition_PatchAlertDefinition"
      parameters:
      - in: "body"
        name: "alertDefinition"
        description: "The partial definition for the alert definition that should\
          \ be updated."
        required: true
        schema:
          $ref: "#/definitions/AlertDefinition"
        x-nullable: true
        x-exportParamName: "AlertDefinition"
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition that should be updated."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/Members:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets a list of all monitor and monitor group guids of the specified\
        \ alert definition."
      operationId: "AlertDefinition_GetAllMembers"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition for which to return the members."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AlertDefinitionMember"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified alert definition could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/Members/Monitor/{monitorGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds a monitor to the specified alert definition."
      operationId: "AlertDefinition_AddMonitorToAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionMonitor"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes a monitor for the specified alert definition."
      operationId: "AlertDefinition_RemoveMonitorFromAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGuid"
        in: "path"
        description: "The Guid of the monitor to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/Members/MonitorGroup/{monitorGroupGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds a monitor group to the specified alert definition."
      operationId: "AlertDefinition_AddMonitorGroupToAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionMonitorGroup"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes a monitor group for the specified alert definition."
      operationId: "AlertDefinition_RemoveMonitorGroupFromAlertDefinition"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition to modify."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the escalation level information of the specified alert definition."
      operationId: "AlertDefinition_GetEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/EscalationLevel"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Members:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the operator and operator group guids for the specified escalation\
        \ level."
      operationId: "AlertDefinition_GetEscalationLevelOperator"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AlertEscalationLevelMember"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Members/Operator/{operatorGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds an operator to the specified escalation level."
      operationId: "AlertDefinition_AddOperatorToEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "operatorGuid"
        in: "path"
        description: "The Guid of the operator to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "OperatorGuid"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionOperator"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes an operator for the specified escalation level."
      operationId: "AlertDefinition_RemoveOperatorFromEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "operatorGuid"
        in: "path"
        description: "The Guid of the operator to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "OperatorGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Members/OperatorGroup/{operatorGroupGuid}:
    post:
      tags:
      - "AlertDefinition"
      summary: "Adds an operator group to the specified escalation level."
      operationId: "AlertDefinition_AddOperatorGroupToEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "operatorGroupGuid"
        in: "path"
        description: "The Guid of the operator group to add."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "OperatorGroupGuid"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/AlertDefinitionOperatorGroup"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "AlertDefinition"
      summary: "Removes an operator group for the specified escalation level."
      operationId: "AlertDefinition_RemoveOperatorGroupFromEscalationLevel"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "operatorGroupGuid"
        in: "path"
        description: "The Guid of the operator group to remove."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "OperatorGroupGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Integration:
    get:
      tags:
      - "AlertDefinition"
      summary: "Gets the integrations for the specified escalation level."
      operationId: "AlertDefinition_GetEscalationLevelIntegration"
      parameters:
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Integration"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}/Integration/{integrationGuid}:
    put:
      tags:
      - "AlertDefinition"
      summary: "Updates an integration for the specified escalation level."
      operationId: "AlertDefinition_UpdateIntegrationForEscalationWithPut"
      parameters:
      - in: "body"
        name: "escalationLevelIntegration"
        description: "The definition for the integration that should be updated."
        required: true
        schema:
          $ref: "#/definitions/EscalationLevelIntegration"
        x-nullable: true
        x-exportParamName: "EscalationLevelIntegration"
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "integrationGuid"
        in: "path"
        description: "The Guid of the integration to update."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "IntegrationGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned"
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    patch:
      tags:
      - "AlertDefinition"
      summary: "Partially updates an integration to the specified escalation level."
      operationId: "AlertDefinition_UpdateIntegrationForEscalationWithPatch"
      parameters:
      - in: "body"
        name: "escalationLevelIntegration"
        description: "The partial definition for the integration that should be updated."
        required: true
        schema:
          $ref: "#/definitions/EscalationLevelIntegration"
        x-nullable: true
        x-exportParamName: "EscalationLevelIntegration"
      - name: "alertDefinitionGuid"
        in: "path"
        description: "The Guid of the alert definition."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "AlertDefinitionGuid"
      - name: "escalationLevelId"
        in: "path"
        description: "The escalation level id."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "EscalationLevelId"
      - name: "integrationGuid"
        in: "path"
        description: "The Guid of the integration to update."
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "IntegrationGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "403":
          description: "One or more validation errors occurred."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "One or more of the specified entities could not be found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Checkpoint:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns all the checkpoints. "
      operationId: "Checkpoint_GetAllCheckpoints"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Checkpoint"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Checkpoint/{checkpointId}:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the specified checkpoint. "
      operationId: "Checkpoint_GetCheckpoint"
      parameters:
      - name: "checkpointId"
        in: "path"
        description: "The Id of the requested checkpoint."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "CheckpointId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/Checkpoint"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The specified checkpoint doesn't exist."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Checkpoint/Server/{serverId}:
    get:
      tags:
      - "Checkpoint"
      summary: "Returns the requested checkpoint server."
      operationId: "CheckpointServer_GetServer"
      parameters:
      - name: "serverId"
        in: "path"
        description: "The Id of the requested server."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "ServerId"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/CheckpointServer"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /Checkpoint/Server/Ipv4:
    get:
      tags:
      - "Checkpoint"
      summary: "Anonymous call that returns all the IPv4 addresses of all the checkpoint\
        \ servers. "
      operationId: "CheckpointServer_GetAllServerIpv4Addresses"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              type: "string"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /Checkpoint/Server/Ipv6:
    get:
      tags:
      - "Checkpoint"
      summary: "Anonymous call that returns all the IPv6 addresses of all the checkpoint\
        \ servers. "
      operationId: "CheckpointServer_GetAllServerIpv6Addresses"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              type: "string"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
  /MonitorGroup:
    get:
      tags:
      - "MonitorGroup"
      summary: "Gets all monitor groups"
      operationId: "MonitorGroup_GetAllMonitorGroups"
      parameters: []
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MonitorGroup"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    post:
      tags:
      - "MonitorGroup"
      summary: "Creates a new monitor group"
      operationId: "MonitorGroup_CreateMonitorGroup"
      parameters:
      - in: "body"
        name: "monitorGroup"
        description: "The MonitorGroup object to be created"
        required: true
        schema:
          $ref: "#/definitions/MonitorGroup"
        x-nullable: true
        x-exportParamName: "MonitorGroup"
      responses:
        "201":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/MonitorGroup"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /MonitorGroup/{monitorGroupGuid}:
    get:
      tags:
      - "MonitorGroup"
      summary: "Gets the details of a monitor group"
      operationId: "MonitorGroup_GetMonitorGroup"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to be retrieved"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "200":
          description: "The request completed successfully."
          schema:
            $ref: "#/definitions/MonitorGroup"
          x-nullable: false
        "400":
          description: "The request failed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
        "404":
          description: "The requested monitor group was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    put:
      tags:
      - "MonitorGroup"
      summary: "Updates the monitor group with the Guid specified"
      operationId: "MonitorGroup_UpdateMonitorGroup"
      parameters:
      - in: "body"
        name: "item"
        description: "The monitor group to be updated"
        required: true
        schema:
          $ref: "#/definitions/MonitorGroup"
        x-nullable: true
        x-exportParamName: "Item"
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to be updated"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed.\nor\nThe All Monitors group cannot be\
            \ changed or deleted.\nor\nThe All Monitors group already exists."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The request failed."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The All Monitors group cannot be changed or deleted."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "The All Monitors group already exists."
            schema:
              $ref: "#/definitions/MessageList"
        "404":
          description: "The requested monitor group was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
    delete:
      tags:
      - "MonitorGroup"
      summary: "Deletes the specified monitor group"
      operationId: "MonitorGroup_DeleteMonitorGroup"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to be deleted"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "204":
          description: "The request completed successfully. No content is returned."
        "400":
          description: "The request failed.\nor\nDeleting the AllMonitors group is\
            \ not allowed."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
          x-expectedSchemas:
          - description: "The request failed."
            schema:
              $ref: "#/definitions/MessageList"
          - description: "Deleting the AllMonitors group is not allowed."
            schema:
              $ref: "#/definitions/MessageList"
        "404":
          description: "The requested monitor group was not found."
          schema:
            $ref: "#/definitions/MessageList"
          x-nullable: false
      security:
      - basicauth:
        - ""
  /MonitorGroup/{monitorGroupGuid}/Members:
    get:
      tags:
      - "MonitorGroup"
      summary: "Gets a list of all members of a monitor group"
      operationId: "MonitorGroup_GetMonitorGroupMembers"
      parameters:
      - name: "monitorGroupGuid"
        in: "path"
        description: "The Guid of the monitor group to retrieve the members for"
        required: true
        type: "string"
        format: "guid"
        x-nullable: false
        x-exportParamName: "MonitorGroupGuid"
      responses:
        "200":
[...]
